@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Rubik+Distressed&display=swap');
@import "footer.css";
@import "blog.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}


header {
    background-color: #FFE7E7;
    height: 365px;
}



h2 {
    display: block;
    font-size: 30px;

    font-weight: bold;
    color: #1044FF;
    font-family: sans-serif;
    padding: 1% 4%;
}




nav {
    position: absolute;
    width: 1238px;
    height: 75px;
    left: 38%;
    top: 0px;
}

.sign-up {
    position: absolute;
    width: 6%;
    height: 5%;
    left: 91%;
    top: 1%;
    background: #1044FF;
    border-radius: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    color: #ffff;
    transition: background 2s;

}

.sign-up:hover {
    background: #7A4495;
}

.navigation {
    align-items: center;
}

.navigation li {
    list-style: none;
    float: left;
}

.navigation li a {
    color: #1044FF;

    padding: 0px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}

.navigation li a i {
    width: 100%;
    font-size: 15px;
    margin-bottom: 7px;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    margin: 0px;
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #ac7eb4;
}

#toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

figure {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 10% 0 1%;
    font-weight: 600;
    font-size: 40px;
    color: #1044FF;

}

.figure-tag {
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1044FF;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;


}



#blog {
    display: flex;
    flex-wrap: wrap;
    background-color: #EBFFFA;
    height: 40%;
}

.blog>div {
    flex: 50%;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #EBFFFA;
    max-width: 65%;
    max-height: 40%;
    column-gap: 50px;
    justify-content: center;
    margin: 38px 0;
    align-content: space-between;
    /*box-shadow: 10px 0px 16px #514a4a;*/


}

.card {
    width: 40%;
    height: 42%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 22px 30px 19px #514a4a;
    margin: 0 2% 4%;
    background-color: #F5F0BB;
    transition: all 250ms;
    justify-content: center;
    color: black;




}

.card:hover {
    transform: scale(1.02)
}

.card a {
    text-decoration: none;
}

.blogImg {
    width: 85%;
    height: 25%;
    margin: 0 5%;
    border-radius: 10%;
}

.card-body {
    margin: 7px 13px;
    color: black;

}

#sides {
    display: flex;
    align-self: flex-end;
}

#sides ul {
    display: flex;
    align-self: flex-end;
    text-decoration: none;
    list-style: none;

}

.page-no {
    padding: 0.5rem 1rem;
    background: #1044FF;
    border-radius: 3px;
    color: #ffff;
    border-radius: 3px;
    box-shadow: 2px -2px 10px #514;
    transition-duration: 1s;
}

.page-no:hover {
    box-shadow: 10px -2px 14px #514a4a;
    background: #514;
}


.author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    padding-left: 0;
    gap: 4%;
    flex: 0 10;
}

.authorImg {
    border-radius: 50%;
    width: 26%;
}

.authorName {
    font-style: italic;
}

.recent-post {
    display: flex;
    flex-direction: column;
    background: rgba(244, 55, 228, 0.55);
    border: 1px solid #1044FF;
    border-radius: 3px;
    box-shadow: 10px 21px 7px #514a4a;
    padding: 1%;

}

.postcards {
    display: flex;
    align-items: flex-start;
    box-shadow: none;
    background-color: transparent;
    margin-top: 22px;
    padding: 9px 10px;
}

.postcards img {
    width: 30%;
    height: 20%;
}

.description {
    font-style: italic;
    margin: 3% 5%;
}

.tags {
    margin-top: 14%;
    background: rgba(244, 55, 228, 0.55);
    border: 1px solid #1044FF;
    border-radius: 3px;
}

.tags ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tags ul li {
    margin: 15px 25px;
}

.card-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

h3 {
    text-align: center;
    padding: 10px;
}

li {
    margin: 5px 5px;
}

span {
    font-weight: bold;
}

.end {
    padding: 12%;
}

.top-sushi {

    margin: 38px 12px 0 12px;
    margin-left: 20px;
    padding: 12px;
    border: solid 2px rgb(9, 1, 1);
    max-width: 30%;
    width: 40%;
    border-radius: 8px;
    text-align: center;
    background-color: #FFE7E7;
    height: 50%;
    box-shadow: 10px 0px 16px #514a4a;


}

.sushi {
    margin-bottom: 19%;
    border: solid 1px gray;
    background-color: rgba(244, 55, 228, 0.55);
    border-radius: 3%;
    padding: 7%;
    box-shadow: 10px 21px 7px #514a4a;
}


.sushi li {
    font-size: 2vh;
    font-family: sans-serif;
    padding: 8px;
    font-weight: 600;
    list-style: none;
    text-align: center;
    color: #EBFFFA;
    border-bottom: 1px solid blue;

}

h5 {
    font-size: 3vh;
    font-weight: 700;
    border-bottom: 3px solid #EBFFFA;
    color: #fff;
    margin: 5% 6% 2%;

}

/*-----------------------------------blog page------------------------*/

/*------------------------------------ Contact me -------------------*/
.contact-me {
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.contact-heading {
    margin-top: 6%;
}

.contact-me ul {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "contact contact contact"
        "item item item";
    list-style: none;
}

.contact-me li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
    background-color: #FFE7E7;
    margin: 62px 20px 104px;
    padding: 10px;
    border-radius: 6%;


}

figcaption {
    text-align: center;
}

.contact-me li i {
    font-size: 41px;
}

/*---------------------------Footer--------------*/


/*-------------------------------------------------- Responsive CSS ----------------------------*/


@media screen and (max-width:1024px) {
    .post h2 {
        font-size: 21px;
    }

    .top-sushi {
        height: 1683px;

    }

    .post {
        padding: 12% 0;
    }

    .post-author {
        padding: 2% 6%;
    }

    .related-container {
        margin: 18px 10px 18px 30px;
        padding-right: 13px;


    }

    .end {
        font-size: 11px;
        padding: 1%;
    }

    .description {
        font-size: 15px;
    }

    .tags {
        margin-top: 16%;
        background: rgba(244, 55, 228, 0.55);
        border: 1px solid #1044FF;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
        height: 22%;
    }

    .tags ul li {
        margin: 7px 19px;
    }

}

@media screen and (max-width:650px) {


    .card-container {
        max-width: 100%;
    }

    .top-sushi {
        height: 1683px;
        width: 70%;
        max-width: 95%;
        align-self: center;
        margin-left: 92px;
        margin-bottom: 10px;
    }

    h1 {
        text-align: center;
        padding: 20px 0;
        font-weight: 600;
        font-size: 25px;
        color: #ffff;
    }

    nav {
        left: 19%;

    }

    .sign-up {
        display: none;
    }

    .show-menu-btn i {
        line-height: 35px;
    }

    h2 {
        display: inline;
    }

    .contact-me ul {
        display: flex;
        flex-direction: column;
    }

    .contact-me li {
        padding: 53px;

    }



}

@media screen and (max-width:412px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
        margin-right: 20px;
    }

    .brand {
        color: #fff;
    }

    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6b15a4;
        ;
        top: -103%;
        left: 0;
        padding: 50px 0px;
        transition: 1s;
    }

    .navigation li {
        width: 100%;
    }

    .navigation li a {
        padding: 15px 15px;
        text-align: left;
    }

    .navigation li a i {
        width: auto;
        font-size: 20px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    #toggle-btn:checked~nav .navigation {
        top: 0px;
    }

    h1 {
        text-align: center;
        padding: 20px 0;
        font-weight: 600;
        font-size: 25px;
        color: #ffff;
    }

    .sign-up {
        display: none;
    }

    .show-menu-btn i {
        line-height: 35px;
    }

    h2 {
        display: inline;
    }




    #blog {
        display: block;
        flex-wrap: wrap;
        background-color: #EBFFFA;
        height: 40%;
    }

    .card-container {
        display: flex;
        flex-flow: row wrap;
        background-color: #EBFFFA;
        max-width: 100%;
        max-height: 82%;
        column-gap: 71px;
        justify-content: center;
        margin: 38px 0;
        align-content: space-between;
        box-shadow: 10px 0px 16px #514a4a;
    }

    .card {
        width: 93%;
        height: 25%;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 22px 30px 19px #514a4a;
        margin: 5% 2% 4%;
        background-color: #F5F0BB;
        transition: all 250ms;
        justify-content: center;
    }

    .top-sushi {

        max-width: 89%;
        width: 100%;
        margin: 10px 10px;


    }

    .tags h5 {
        text-decoration: none;
        border: none;
    }

    .contact-me ul {
        display: flex;
        flex-direction: column;
    }

    .contact-me li {
        margin: 7px 20px 34px;


    }

    footer .socials-wrapper {
        max-width: 57%;
    }

    footer .related-links {
        gap: 5px;
    }

    .post {
        padding: 46% 3%;

    }

    .post-author .authorImg {
        border-radius: 50%;
        width: 30%;
        height: 63%;
    }

    .post-author h4 {
        margin-right: 10px;
        padding-bottom: 5px;
        font-size: 14px;
    }

    .post-author p {
        font-size: 8px;
    }

    .related-container {
        display: grid;
        flex-flow: column;
        width: 87%;
        grid-template-rows: 1fr;
    }

    #related-card {
        height: 470px;
        margin-top: 37px;
    }



}